<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi doloribus corporis quia facilis nobis placeat quis facere iusto necessitatibus. Modi iure non facere laboriosam unde nemo fuga sapiente! Id, odio.</p>
    </div>
</div>