<div class="jumbotron">
    <h1 class="display-4">
        My Notes in NodeJS and MongoDB
    </h1>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, iusto.
    </p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium aut reiciendis tenetur quo ad hic, sint at ipsum cumque dolores recusandae animi velit distinctio quibusdam laboriosam eaque facilis deleniti itaque.</p>
    <a href="#" class="btn btn-primary btn-lg">Redirect</a>
</div>