<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">My Notes in NodeJS 2019</a>
      </div>
    </nav>
</footer>
